# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Datasets (ALL crops)
disease_detection/**/dataset/

# Trained ML / DL models
*.h5
*.keras

# Uploads
static/uploads/

# Environment variables
.env