# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Datasets (VERY IMPORTANT)
disease_detection/**/dataset/

# Large ML models (optional but recommended)
*.h5
*.keras

# OS files
.DS_Store